/* 此文件中包含所有页面都共用的全局css */
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color:#555;
	backgroud:#fff;
	font-family: "arial,helvetica,sans-serif";/*字体*/
	font-size:12px ;/* 字体大小*/
	line-height: 1.667;/*行高*/
	
}
a{
	color: #555;
	text-decoration: none;
}
a:hover{
	color: #f60;
}